<hr> 
<footer>
   <strong>&copy; 2023 Team 8 - SSS <br>
   California State University
   Monterey Bay</strong>
        <div class="project-logo">
              <img src="/img/optionSeeLogo.png" alt="plane-logo" class="plane">
            </div>
</footer>
